body{

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;
}
.header{
    display: flex;
    justify-content: space-between;
}
.links{
    display: flex;
}
